.add{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.add1{
    display: flex;
   
}
.textadd{
    display: flex;

}
.nameadd{
    width: 15rem;
    height:1.5rem;
}

.butadd{
width: 5rem;
height:2rem;
}